mixin fb-share(img)
  p.fb-share.social
    button
      img(src=img alt="シェア")

mixin tweet(img)
  - var url = encodeURIComponent(meta.url)
  - var text = encodeURIComponent(meta.description)
  p.tweet.social
    a(href!="http://twitter.com/share?url=" + url + "&text=" + text target="_blank")
      img(src=img alt="ツイート")

mixin line(img)
  - var text = encodeURIComponent(meta.description + " " + meta.url)
  p.line.social
    a(href="http://line.me/R/msg/text/?#{text}")
      img(src=img alt="LINEで送る")

mixin hatena(img)
  - var url = encodeURIComponent(meta.url)
  - var title = encodeURIComponent(meta.title)
  p.hatena.social
    a(href="http://b.hatena.ne.jp/add?url=#{url}&title=#{title}" target="_blank")
      img(src=img alt="このエントリーをはてなブックマークに追加")
