extends /layout/_application
block body
  h1.ttl-main
    img(src="img/common/logo.png" alt="あなたは今何歳？")
  div.wrapper
    div.social_container
      include /include/embed/_tweet
      include /include/embed/_facebook
    div.portrait_container
      div.portrait_row
        p.portrait
    p.search_container
      input.search(type="text" value="あなたは今何歳？")
      button.enter
        img(src="img/common/search.png" alt="探す")
    div.illust_container
      p.illust-wright
        img(src="img/illust/wright.png" alt="ライト兄弟")
      p.illust-columbus
      p.illust-oh
        img(src="img/illust/ball.png" alt="野球ボール")
      div.illust-newton
        div.illust-newton_chara_container
          p.illust-newton_chara
        p.illust-newton_tree
          img(src="img/illust/newton_tree.png" alt="木")
      p.illust-beethoven
        img.illust-beethoven_tone(src="img/illust/tone-1.png" alt="音符")
        img.illust-beethoven_tone(src="img/illust/tone-2.png" alt="音符")
        img.illust-beethoven_tone(src="img/illust/tone-3.png" alt="音符")
        img.illust-beethoven_tone(src="img/illust/tone-4.png" alt="音符")
      p.illust-zuckerberg
        img.illust-beethoven_tone(src="img/illust/zuckerberg.png" alt="音符")
  div.result_container.close
    div.result
      div.info
        p.name_container <span class="name"></span><span class="name_particle">は</span>
        p.age_container <span class="age"><span class="num"></span>歳</span>のとき、
        p.episode
      p.portrait
      p.portrait_txt
        span.portrait_name
        span.portrait_title
      p.logo 偉人年齢図鑑 あなたは今何歳？
      div.social_container
        p.social.tweet
          a(href="/" target="_blank" data-url="#{meta.url}" data-title="#{meta.title}")
            img(src="img/common/tweet.png" alt="tweet")
        p.social.facebook(data-url="#{meta.url}" data-name="#{meta.title}" data-picture="#{meta.image}")
          img(src="img/common/facebook.png" alt="facebook")
      p.skip SKIP▶
  div.year_container
    div.year_bar
      - var year;
      - for(var i=0; i<250; i++){
        - year = i * 10;
        p.year(data-year="#{year}") #{year}
      - }
      p.pin
        img(src="img/common/pin.png" alt="ピン")
  div.lock
    p.password_container
      input.password(type="text" value="Enter Password.")
      button.enter ENTER
