extends /layout/_application
include /mixin/_social

block body
  h1.ttl-main
    img(src="img/common/logo.png" alt="あなたは今何歳？")
  div.social_container.social_container-illust
    +tweet("img/common/tweet.png")
    +facebook("img/common/facebook.png")
  p.aboutBtn
    button このサイトについて
  div.wrapper
    div.portrait_container
      div.portrait_row
        p.portrait
    p.search_container
      input.search(type="text" value="あなたは今何歳？")
      button.enter
        img(src="img/common/search.png" alt="探す")
  div.illust_container
    p.illust-wright
      img(src="img/illust/wright.png" alt="ライト兄弟")
    p.illust-columbus
    p.illust-oh
      img(src="img/illust/ball.png" alt="野球ボール")
    div.illust-newton
      div.illust-newton_chara_container
        p.illust-newton_chara
      p.illust-newton_tree
        img(src="img/illust/newton_tree.png" alt="木")
    p.illust-beethoven
      img.illust-beethoven_tone(src="img/illust/tone-1.png" alt="音符")
      img.illust-beethoven_tone(src="img/illust/tone-2.png" alt="音符")
      img.illust-beethoven_tone(src="img/illust/tone-3.png" alt="音符")
      img.illust-beethoven_tone(src="img/illust/tone-4.png" alt="音符")
    p.illust-zuckerberg
      img(src="img/illust/zuckerberg.png" alt="ザッカーバーグ")
    p.illust-jack
      img(src="img/illust/jack.png" alt="ジャック・ドーシー")
    div.illust-bolt
      p.illust-bolt_pic
      p.illust-bolt_timer 09:58
    p.illust-michael
    div.illust-edison
      p.illust-edison-off
      p.illust-edison-on
  section.about_container.close
    div.about
      h2.about_ttl このサイトについて
      ul.about_list_container
        li.about_list 「あの偉人は何歳のときに何を成し遂げたのか？」を、たくさん集めたサイトです。
        li.about_list 画面中央の検索窓に年齢を入力したり、背景に流れている人物写真をクリックしたりしてみてください。
        li.about_list ふと10秒くらいぼーっと眺めてみるのも良いかもしれません。
        li.about_list.withMargin 人物画像は全て、Wikipedia上のパブリック・ドメイン、クリエイティブ・コモンズ、GNUライセンスの素材を利用しています。
        li.about_list 効果音や楽曲データは以下のサイトから利用可能なものをお借りしました。ありがとうございます。
          ul.audio_list_container
            li.audio_list
              a(href="http://www1.nhk.or.jp/creative/material/" target="_blank") NHK CREATIVE LIBRARY
            li.audio_list
              a(href="http://amachamusic.chagasi.com/music_kankinouta.html" target="_blank") フリー音楽素材「甘茶の音楽工房」
            li.audio_list
              a(href="http://soundeffect-lab.info/" target="_blank") 効果音ラボ
            li.audio_list
              a(href="http://soundarbour.sakura.ne.jp/" target="_blank") 音々亭 効果音素材
            li.audio_list
              a(href="http://www.kurage-kosho.info/" target="_blank") フリー効果音素材 くらげ工匠
            li.audio_list
              a(href="http://taira-komori.jpn.org/" target="_blank") 無料効果音で遊ぼう！
            li.audio_list
              a(href="http://commons.nicovideo.jp/" target="_blank") ニコニ･コモンズ
      p.close_container
        button
          img.close(src="img/common/close.png" alt="☓")
  div.result_container.close
    div.result
      div.info
        p.name_container <span class="name"></span><span class="name_particle">は</span>
        p.age_container <span class="age"><span class="num"></span>歳</span>のとき、
        p.episode
      div.nobody_container
        p.nobody_ttl 該当する人物はいません。
        p.nobody_pic
          img(src="img/common/nobody.png" alt="該当する人物なし")
      p.portrait
        a(href="/" target="_blank")
      p.portrait_txt
        span.portrait_name
        span.portrait_title
      p.logo 偉人年齢図鑑 あなたは今何歳？
      p.logo-superstar with SuperStar
      div.social_container
        p.social.tweet
          a(href="/" target="_blank" data-url="#{meta.url}" data-title="#{meta.title}")
            img(src="img/common/tweet.png" alt="tweet")
        p.social.facebook(data-url="#{meta.url}" data-description="#{meta.description}" data-picture="#{meta.image}")
          img(src="img/common/facebook.png" alt="facebook")
      p.close_container
        button
          img.close(src="img/common/close.png" alt="☓")
      p.skip SKIP▶
  div.year_container
    div.year_bar
      - var year;
      - for(var i=0; i<250; i++){
        - year = i * 10;
        p.year(data-year="#{year}") #{year}
      - }
      p.pin
        img(src="img/common/pin.png" alt="ピン")
  // use for edison illust animation
  canvas.room
  div.superstarPage
    p.superstarSign
      img(src="img/superstar/sign.png" alt="君もなれるさ光溢れる眩しいあいつに")
    p.superstarMovie#movie(width=640 height=360 data-youtube-id="FybbN-bRtMY")
    div.superstarLink_container
      p.superstarLink
        a(href="http://lucky-kilimanjaro.tumblr.com/" target="_blank")
          img(src="img/superstar/artist.png" alt="LK")
      p.superstarLink
        a(href="http://www.amazon.co.jp/FULLCOLOR-Lucky-Kilimanjaro/dp/B00ZBG7WTA" target="_blank")
          img(src="img/superstar/cd.png" alt="SuperStar")
      p.superstarLink
        a(href="http://ijin-nenrei.gonshi.net/" target="_blank")
          img(src="img/superstar/home.png" alt="偉人年齢図鑑")
  p.superstarBand
    a(href="http://lucky-kilimanjaro.tumblr.com/" target="_blank")
      img(src="img/superstar/band.png" alt="Lucky Kilimanjaro SuperStar")
  div.lock
    p.password_container
      input.password(type="text" value="Enter Password.")
      button.enter ENTER
